<div class='teal darken-5 vertical-height'>
  <div class='container'>
    <div class='section'>
      <div class="row">
        <div class="col s4 offset-s4">
          <div class='card-panel login-wrapper'>
            <form [formGroup]="loginForm" novalidate>
              <h3 class='grey-text text-darken-2'>Login</h3>
              <div class='row'>
                <mz-input-container class="col s12">
                  <input mz-input mz-validation required id="input-username" formControlName="userName" [errorMessageResource]="errorMessageResources.userName"
                    type="text" [label]="'Enter Username'" />
                </mz-input-container>
              </div>
              <div class='row'>
                <mz-input-container class="col s12">
                  <input mz-input mz-validation required id="input-password" formControlName="password" type="password" [errorMessageResource]="errorMessageResources.password"
                    [label]="'Enter Password'" />
                </mz-input-container>
              </div>
              <div class='row'>
                <div class='col s12 input-field'>
                  <button mz-button [disabled]="!loginForm.valid" type="submit">Submit</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>